*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --font-color: white;
    --border-color: #1a1a1a;
    --button-color: #f2f2f2;
    --bg-color: #0C2D48;
    --black-color: #1a1a1a;
    --calc-color: #1e272e;
    --operator-color: #145DA0;
    --red-color: #ff4d4d;
    --yellow-color: #F8D210;
}

html {
    font-family: 'Inter', sans-serif;
    color: var(--font-color);
}

body {
    background-color: var(--bg-color);
}

header {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 2rem;
}

#title {
    font-size: 2rem;
}

.subtitle {
    font-size: 1rem;
    margin-top: 0.8rem;
    letter-spacing: 0.2em;
}

#name {
    color: transparent;
    background-image: 
        linear-gradient(to right, var(--black-color) 50%,var(--yellow-color) 50%),
        linear-gradient(to right, var(--yellow-color) 50%,var(--bg-color) 50%);
    transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
    -webkit-background-clip: text, border-box;
    background-clip: text, border-box; 
    background-size: 200% 100%;
    background-position: 100%;
}

#name:hover {
    background-position: 0%;
}

#calc {
    border: 4px solid var(--border-color);
    width: 400px;
    height: 600px;
    margin: 0 auto;
    background-color: var(--calc-color);
    border-radius: 15px;
}

#calc-body {
    display: grid;
    height: 80%;
    grid-template-columns: repeat(4, 1fr);
}

#screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20%;
}

.screen-text {
    display: block;
    width: 100%;
    text-align: right;
    padding: 0.8rem 0.6rem;
    color: var(--button-color);
    overflow: hidden;
}

#screen-top {
    font-size: 1.2rem;
}

#screen-bottom {
    font-size: 2.4rem;
}

#zero {
    grid-column: 1 / 3;
    border-bottom-left-radius: 10px;
}

#equals {
    border-bottom-right-radius: 10px;
}

button {
    background-color: var(--button-color);
    font-family: inherit;
    font-size: 1.2rem;
    border-radius: 2px;
    outline: none;
    border-width: 0;
    margin: 0.5px;
    transition: background-color 0.10s ease-in-out, 
        color 0.10s ease-in-out, 
        transform 0.025s ease-out;
}

.number {
    color: var(--black-color);
}

.operator {
    color: var(--operator-color);
}

.operator, .other {
    font-weight: 800;
}

#clear {
    color: var(--red-color);
}

#clear:hover, #clear:active {
    background-color: var(--red-color);
    color: var(--button-color);
}

#equals {
    background-color: var(--operator-color);
    color: var(--button-color);
}

#equals:hover, #equals:active {
    background-color: var(--yellow-color);
    color: var(--black-color);
}

button:hover, button:active {
    background-color: var(--black-color);
    color: var(--button-color);
}

button:active {
    transform: scale(1.1);
}

.disabled, .disabled:hover, .disabled:active {
    background-color: #a6a6a6;
    color: var(--black-color);
    transform: scale(1);
}